 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.transparent-btn {
    padding: 18px 35px;
    border: 1px solid #FD6E0A;
    background-color: transparent;
    color: #FD6E0A;
    border-radius: 5px;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-text {
    color: #FD6E0A;
    
}
.common-header {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.banner-content-buttons button {
    margin-right: 30px;
}
header {
     background-color: #FFF8F3;
     background: url("developer.png") , url("header_bg.png") , #FFF8F3;
     padding-top: 50px;
     background-repeat: no-repeat;
     background-position: 23px 38px,bottom right;
}
nav {
    
    width: 71%;
    max-width: 1140px;
    /* align-content: center; */
    margin: 0 auto; 
    margin-left: auto;
    display: flex;
    justify-content: space-between;
} 
nav .menu {
    font-size: 20px;
    list-style: none;
    display: flex; 
    gap: 50px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
}
#banner {
    display: flex;
    margin: 47px 38px 0px 230px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-conntent h2 {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}
#banner .banner-conntent {
    max-width: 585px;
    max-height: 356px;
}


#banner .banner-conntent h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-conntent p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;

}
#banner img{
    max-width: 585px;
    vertical-align: middle;

}
.section-about {
    background-color: #FFF8F3;
    max-width: 1140px;
    height: 550px;
    margin: 130px auto;
    text-align: center;
    padding: 131px 156px;
}
.info-item p{
    font-size: 20px;
    color: #989595;
}
.info-item h3{
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}
.about-info {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.about-container p {
    color: #75759a;
    font-size: 18px;
    line-height: 30px;
}
.section-skills {
    max-width: 1140px;
    height: 550px;
    margin: 130px auto;
    text-align: center;
}
.skills-container p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin: 0px auto;
    max-width: 827px;
}
.skill-cards {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 267px;
    max-height: 377px;
    padding: 30px;
    gap: 20px;
    box-shadow: 0 6px 50px 0px #00000048;
    align-items: start;
}
.skill-cards img {
    max-width: 44px;
    max-height: 44px;
    margin-bottom: 10px;
}
.skill-cards p {
    color: #757575;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}
.skill-card-container {
    margin-top: 50px;
    display: flex;
    gap: 24px;
}
.skill-cards h3 {
    font-size: 20px;
    font-weight: bold;
}
.section-resume {
    max-width: 1140px;
    margin: 0px auto;
}
.section-header {
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px; 
}
.education-card-container,.experience-card-container {
    max-width: 511px;
    max-height: 175px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 47px;
}
.education-card-container h2,.experience-card-container h2 {
    font-size: 25px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 10px;
}
.education-card-container h4,.experience-card-container h4 {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}
.education-card-container p, .experience-card-container p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
.resume-container {
    margin-top: 113px;
    display: flex;
    gap: 24px;
}
.resume-container hr {
    margin: 30px 0;
}
.footer-container {
    width: 71%;
    max-width: 1140px;
    display: flex;
    gap: 117px; 
    margin: 0 auto;
}
.footer-container .social {
    max-width: 562px;
}
.footer-container h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;
}
.footer-container p {
    font-size: 16px;
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container input[type="text"], .footer-container textarea {
    width: 461px;
    padding: 18px 31px;
    background-color: white;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    color: #757575;
}
.social img {
    margin-right: 24px;
} 
footer {
    background-color: #fff8f3 ;
    max-height: 780px;
    margin-top: 123px;
    padding: 130px 0;
}