 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.logo h2 {
    font-size: 45px;
    font-weight: 900;
}
.color-text {
    color: #FD6E0A;
    
}
#banner {
    display: flex;
}

header {
     background-color: #FFF8F3;
     padding-top: 50px;
}
nav {
    
    width: 71%;
    max-width: 1140px;
    /* align-content: center; */
    margin: 0 auto; 
    margin-left: auto;
    display: flex;
    justify-content: space-between;
} 
nav .menu {
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: #474747;
}